.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: 100vh;
    /* background-color: black; */
}

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}

.content {
    display: grid;
    width: 100%;
    height: 80vh;
    margin: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.btn {
    font-size: 3rem;
    margin: 1rem;
}

.btn:hover{
    transform: scale(1.1, 1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.btn-pink{
    background-color: #f16883;
    color: white;
}

.btn-pink:hover{
    background-color: #dd5a74;
    /* box-shadow: black; */
    color: white;
    opacity: 1.1;
}

.btn-primary {
    grid-column-start: 1;
    grid-column-end: 3;
}